<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:util="http://www.springframework.org/schema/util"
     xmlns:mvc="http://www.springframework.org/schema/mvc"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
     default-autowire="byName"
     >
	<!-- Root Context: defines shared resources visible to all other web components -->
	
	<mvc:annotation-driven conversion-service="conversionService" />
	<tx:annotation-driven transaction-manager="transactionManagerBean"/>

    <context:component-scan base-package="sk.peterjurkovic.cpr.dao">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>
    
    <context:component-scan base-package="sk.peterjurkovic.cpr.services">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>  
    
    <context:component-scan base-package="sk.peterjurkovic.cpr.validators">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>      
    
     <context:component-scan base-package="sk.peterjurkovic.cpr.web.converters">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan> 
   
   
   <!-- Konverzia objektov  -->
  	 
	  <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	    <property name="converters">
	      <set>
	        <ref bean="countryConverter" />
	      </set>
	    </property>
	  </bean>
   
   
   
   <util:properties id="config" location="classpath:config.properties"/>	


	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
              <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>
    
    
    <bean id="timeZone" class="java.util.TimeZone" factory-method="getTimeZone">
        <constructor-arg value="${scheduling.time.zone}"/>
        <constructor-arg index="1" value="true"/>
    </bean>

	<bean name="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename">
        <value>msg/messages</value>
    </property>
</bean>
</beans>
