/* FILTER */
.radius{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.ui-autocomplete{font-size:13px !important;-webkit-box-shadow: 0px 5px 5px 3px #888;box-shadow: 0px 5px 5px 3px #888; }
.ui-autocomplete .ui-menu-item a{padding:8px 8px !important;border-bottom:1px solid #ddd;}
.filter{background:#F2F8FA;padding:5px 10px;border:4px solid #DFEDF2;font-size:12px;margin-bottom:10px;}
.filter input{padding:5px;width:145px;}
.filter select{padding:4px;min-width:170px;font-size:12px; }
.filter span.bx{padding:5px 10px 5px 15px;color:#555;}
.filter div{padding: 3px 0;}
.filter .date{background: url("../../admin/img/ico_calendar_input.png") no-repeat scroll 90px center #FCFCFC;width:100px;text-align:left}
.filter.user .enabled{min-width:100px;}
.filter .groups{font-size:12px;width:638px;}
.filter .groups option{padding:3px 2px;}
.filter span.long{display:block;width:120px;float:left;}
.filter .fixed{min-width:80px;text-align:center;display:inline-block;}
.filter .btn{
	background: #4f85bb;color:#fff;width:100px;border:1px solid #356aa0;margin-left:170px;cursor:pointer;
	background: -moz-linear-gradient(top,  #4f85bb 0%, #4f85bb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb));
	background: -webkit-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
	background: -o-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
	background: -ms-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
	background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 );
}

.filter .btn:hover{background:#284E77;}
.filter .btn.csn{margin: 0 0 0 15px;}
.filter-input-long{min-width:300px;}
.filter-input-middle{min-width:150px;}


.filter > div{border-bottom:1px solid #fff;}
.filter div.clear{padding:0}
.filter > div:hover{background: #EDF5F7}
.filter-label{padding:10px 5px;color:#333;}
.filter-label.long{padding-right:0}
.filter-btn-standard{margin-left:30px !important;margin-right:10px;}
.filter-advanced{display: none;}
.filter .query-aono,
.filter .query{width:490px !important;border:1px solid #bbb;padding:7px 8px;margin-top:4px;}