
*{border:none;padding:0px;margin:0px;}
html, body {	height: 100%;}
header, footer, nav, aside, article, section{display:block }
body{font-family: Arial,Tahoma, sans-serif;background:url(../img/body.png) repeat-y top center;}
.clear{ clear:both;}
.hidden{ display:none;}
.c{ text-align:center;}
.l{ text-align:left;}
a{text-decoration:none;color:#3e4e69;}
.blind {   left: -5000px;position: absolute; top: -5000px;}
.radius{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -81px;}

.blue-color{color:#4390d7}
.blue-bg{background-color: #4390d7}
.page-width{width:999px;margin:auto;}

/* HEADER */
#logo{display:inline-block;width:150px;background:url(../img/logo.png) no-repeat center;height:125px;float:left;}
header{height:125px; background:  url(../img/europa.png) no-repeat right ;}
header strong{padding-top:25px;display:block;float:left;}
header span{display:block;}
header .is,header .itc-name{font-size:14px;font-weight:normal;color:#5c5c5c;}
header .is-name{font-size:23px;}
header .is-name em{font-style:normal;}
header .itc-name{margin:5px 0 0 50px;padding:5px 0 0 130px;width:350px;background: url(../img/itc-name.png) no-repeat top right; }

/* NAVIGATION */
nav{background:#8b8a8a url(../img/nav-bg.png) repeat-x;height:50px;padding-bottom:7px; }
nav ul{list-style:none;padding:0 60px;background:red url(../img/nav-bg2.png);}
nav ul li{display:inline-block;float;left;padding:0 10px 0 3px;background:url(../img/nav-sep.png) no-repeat center right;}
nav ul li:last-child{background:none;}
nav ul li a{display:block;float:left;height:15px;padding:17px 15px;color:#fff;text-transform:uppercase;font-size:13px;margin:0 5 0 0px;}
nav ul li a:hover, nav .curr{background:#8b8a8a url(../img/nav-bg-hover.png);}

/* CONTENT */
#content{width:959px;margin:auto;padding:10px 20px;min-height: 500px;}
#bc{font-size:11px;color:#888;padding:5px 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#bc a, span{padding:0 8px;}
#bc span{color:#555;}
#bc a{color:#4390d7;text-decoration:underline;}
#bc a:hover{color:#000;}
.bc-info{color:#888 !important;margin-right:10px;padding:0;}

#main-content{padding:20px 10px;color:#444;font-size:14px;line-height:20px;}
#main-content h1{font-size:20px;display:block;padding:8px 0;margin-bottom:15px;border-bottom:2px solid #ccc;}

/* CONTENT - HOME PAGE */
#homepage{margin:45px 0;padding:20px 0;border-top:3px solid #eee;border-bottom:3px solid #eee;}
.hompage-left{margin-right:5px;padding-right:15px!important; border-right:1px solid #eee;}
.hompage-left,.hompage-right{width:440px;float:left;padding:10px; }
#homepage .head{display:block;border-bottom:2px solid #aaa;padding:12px;background: #f5f5f5;
background: -moz-linear-gradient(top,  #f7f7f7 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%);
background: -o-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%);
background: -ms-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%);
background: linear-gradient(to bottom,  #f7f7f7 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 );
-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;border-top-right-radius: 5px;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;
}
.home-news{padding:10px 10px;margin-bottom:15px;border-bottom:1px solid #ddd;}
.home-news strong a{font-size:15px;dispaly:block;padding-bottom:15px;}
.home-news .link{float:right;}

#homepage .link{text-decoration:underline;}
#homepage .link:hover{text-decoration: none;color:#333;}
#homepage .norm{ padding:15px 5px;border-bottom:1px solid #ddd;}
#homepage .norm:hover,.home-news:hover{background:#FFFDF2;}
#homepage .norm .edit{margin-right:20px;}


/* FOOTER */
footer{background: url(../img/footer-bg.png) repeat-x;}
#footer{height:81px;background: url(../img/footer-bg2.png) no-repeat;padding:0 60px;position:relative;}
footer, .push {height:81px;font-size:12px;}
footer .itc-logo{width:76px;height: 46px;display: block;background: url(../img/itc-logo.png);float:left;margin:25px 0 0  25px;}
footer .itc-name{padding:35px 0 0 30px;float:left;color:#555;}
footer a{color:#555;text-decoration:underline;}
footer .admin{right:80px;bottom:0;position:absolute;padding:8px 20px;background:#ddd;color:#555;font-size:11px;-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;
border-top-right-radius: 5px;}


/* MESSAGES */
.msg{padding:18px 10px 18px 55px;font-size:14px;margin:10px;}
.msg.alert{background:#fff5e3 url(../../admin/img/ico_alert.png) no-repeat 10px center;border:3px solid  #f3deba;color:#b66f00;}
.msg.ok{background:#f2ffee url(../../admin/img/ico_ok.png) no-repeat 10px center;border:3px solid  #cefbbe;color:#345c01;}
.msg.error{background:#ffefef url(../../admin/img/ico_error.png) no-repeat 10px center;border:3px solid  #ffcfcf;color:#8c0000;}
.msg.info{background:#F5FAFF url(../../admin/img/ico_info.png) no-repeat 10px center;border:3px solid  #E3F0FF;color:#2F4A69;}

#error-box a{display:block;padding:5px 0;color:#000;text-decoration:underline;}
#error-box a:hover{text-decoration:none;}

#aktuality{padding:20px 10px;}

.news{padding:20px 10px;border-bottom:2px solid #ddd;}
.news:hover{background:#fafafa;}
.news h2{padding-bottom:5px;}
.news h2 a{text-decoration:underline;}
.news h2 a:hover{color:#000;}
.news span{font-size:12px;color:#777}
.news p{font-size:15px;padding:10px 0;display:block;color:#000;}
/* detail button */
.detail {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;box-shadow:inset 0px 1px 0px 0px #bbdaf7;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #2171c2) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #2171c2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#2171c2');
	background-color:#79bbff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #84bbf3;display:inline-block;color:#ffffff;font-size:13px;float:right;padding:6px 18px;
	text-decoration:none;text-shadow:1px 1px 0px #528ecc;}
.detail:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2171c2), color-stop(1, #79bbff) );background:-moz-linear-gradient( center top, #2171c2 5%, #79bbff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2171c2', endColorstr='#79bbff');background-color:#2171c2;}
.detail:active {position:relative;top:1px;}

/* ARTICLE DETAIL */
.article-detail{font-size:14px; color:#333;padding:0 20px;}
.article-detail h2{font-size:18px;color:#000;padding-bottom:5px;}
.article-detail h3,.article-detail h4{color:#000;padding-bottom:5px;}
.article-detail a{color:#4390d7;text-decoration:underline;}
.article-detail a:hover{color:#003EA1;}
.article-detail .time{font-size:13px;padding:0 0 10px 0;color:#777;display:block;}
#meta{margin:20px;padding:20px;border-top:5px solid #ddd;
background: #f4f4f4;
background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );

}

/* PAGINATION */
.pagination{padding:5px;margin:10px;font-size:13px;}
.pagination a, .pagination span{border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333;padding:5px 10px;}
.pagination span{background:#3f4c6b;color:#fff;}
.pagination a:hover{background:#fff;}
.pagination a{background:#ccc;background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333}
