.w300{width:300px;}
.w600{width:600px;}
*{border:none;padding:0px;margin:0px;}
html, body {	height: 100%;}
header, footer, nav, aside, article, section{display:block }
body{font-family: Arial,Tahoma, sans-serif;background:url(../img/body.png) repeat-y top center;}
.clear{ clear:both;}
.hidden{ display:none !important;}
.c{ text-align:center;}
.l{ text-align:left;}
.b{font-weight: bold; }
a{color:#3e4e69;}
.block{display: block;}
.blind { left: -5000px;position: absolute; top: -5000px;}
.radius,#noao .true,.step,#dop .no,#dop .item.center,#localStorage,#dop .legend,.as1,.extendedSearch > div{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.full-width{padding:0 20px;}
#wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -81px;}
.btn-next.ehn{float:left;display:inline-block;margin: 15px 0;}




#status{position:absolute;z-index:99999999;background:url(../../admin/img/tbg.png);padding:50px;display:none;}
#status p{padding:15px 15px 15px 50px;font-size: 14px; }
#status .ok{border:4px solid #d5f0a9;color:#548015;background:#f7ffec url(../../admin/img/ico_ok.png) no-repeat 5px center;}
#status .err{border:4px solid #fdd1d1;color:#b21d1d;background:#fff2f2 url(../../admin/img/ico_error.png) no-repeat 5px center;}
.formerr{border-color:red !important;}

.dop-items{border:0}

table .no{width:30px;}
.dop-items tr,table.no-border tr{border-bottom:1px dotted #ddd;}
.dop-items tr.odd{ background:none; }
.dop-items td{padding:15px 10px;vertical-align:text-top;}
.dop-items .label,.dop-items .no,table.no-border .no{font-weight:bold;}
.dop-items .label{max-width:250px;}
.one-colls,.two-colls{border:none;text-align:center;margin-top:50px;}
.one-colls tr,.two-colls tr{border:none;background:none !important;}
.one-colls tr{border-top:1px dashed #333;}
.two-colls td{width:40%;border-top:1px dashed #333;}
table .center-val{ text-align:center;display:block;}
td.noborder{width:10% !important;border:none !important;}

/* DOP PAGE */
.margin-left{margin-left:25px;}
.step{position:absolute;top:-15px;background:#499bea;color:#fff;padding:0px 10px;font-size:11px;border:2px solid #8DBCE8;-webkit-box-shadow: 0px 0px 5px 1px #ccc;box-shadow: 0px 0px 5px 1px #ccc; }
#search-form{padding:15px 20px;margin:30px 0;background:#F5FBFF;font-size:15px;border:2px solid #DCECF5;position:relative;}
#search-form label{font-weight:bold;margin-right:15px; }
#search-form input.query{ padding:8px 10px;height:25px;font-size:16px;border:2px solid #aaa;width:550px;color:#333;
background: #f2f2f2;font-style:normal;
background: -moz-linear-gradient(top, #f2f2f2 0%, #f6f6f6 53%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #f2f2f2 0%,#f6f6f6 53%,#ffffff 100%);
background: -o-linear-gradient(top, #f2f2f2 0%,#f6f6f6 53%,#ffffff 100%);
background: -ms-linear-gradient(top, #f2f2f2 0%,#f6f6f6 53%,#ffffff 100%);
background: linear-gradient(to bottom, #f2f2f2 0%,#f6f6f6 53%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}
#search-form .btn,
.extendedSearch .btn {
-moz-box-shadow:inset 0px 1px 0px 0px #caefab;-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;box-shadow:inset 0px 1px 0px 0px #caefab;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
background-color:#77d42a;background-image:url(../img/ico_search.png);background-repeat:no-repeat; background-position:10px center;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #268a16;display:inline-block;color:#306108;font-family:arial;font-size:15px;font-weight:bold;cursor:pointer;padding:7px 0 7px 24px;width:140px;height:40px;color:#fff;}
#search-form .btn:hover,
.extendedSearch .btn:hover {
	background-color:#5cb811;
}

.w150{width:130px;}
.blue-color{color:#4390d7}
.blue-bg{background-color: #4390d7}
.page-width{width:999px;margin:auto;}

.left-panel{width:260px;float:left;border-right:1px solid #eee;}
.left-panel .head{display:block;display:block;padding:15px 10px;font-size:20px;background: #ffffff;color:#207ce5;letter-spacing:1px;border-bottom:10px solid #eee;margin-bottom:10px;
background: -moz-linear-gradient(left, #ffffff 0%, #f7f7f7 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));
background: -webkit-linear-gradient(left, #ffffff 0%,#f7f7f7 100%);
background: -o-linear-gradient(left, #ffffff 0%,#f7f7f7 100%);
background: -ms-linear-gradient(left, #ffffff 0%,#f7f7f7 100%);
background: linear-gradient(to right, #ffffff 0%,#f7f7f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startCorlorstr='#ffffff', endColorstr='#f7f7f7',GradientType=1 );
}
.left-panel .nav{list-style:none;}
.left-panel .nav a{display:block;text-decoration:none;padding:8px 10px;color:#555; border-top:1px solid #eee;border-bottom:2px solid #ddd;background: #ffffff;margin:4px 5px;border-right:3px solid #ddd;font-size:12px;
background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 100%);
background: -o-linear-gradient(left, #ffffff 0%,#f6f6f6 100%);
background: -ms-linear-gradient(left, #ffffff 0%,#f6f6f6 100%);
background: linear-gradient(to right, #ffffff 0%,#f6f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
}
.left-panel .nav a:hover,.left-panel a.curr{border-right:5px solid #1757AA;color:#fff;
background: #308de5;
background: -moz-linear-gradient(left, #308de5 0%, #005cdd 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#308de5), color-stop(100%,#005cdd));
background: -webkit-linear-gradient(left, #308de5 0%,#005cdd 100%);
background: -o-linear-gradient(left, #308de5 0%,#005cdd 100%);
background: -ms-linear-gradient(left, #308de5 0%,#005cdd 100%);
background: linear-gradient(to right, #308de5 0%,#005cdd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#308de5', endColorstr='#005cdd',GradientType=1 );
}
.right-panel{width:655px;padding-left:20px;min-height:200px;border-left:1px solid #eee;float:right;}
.item-list ul{padding:20px;}
.item-list .br{font-size:20px;list-style:none;margin:20px 0; }
.item-list .br li a{margin:15px 0; text-decoration:none; padding:20px;border:1px solid #ccc;display:block; background: #ffffff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.item-list .br li a:hover{background:#fafafa url(../img/arrow-right.png) no-repeat center right;}

/* DOP FORM*/
#dop .dop-items .no{}
#dop .big{margin:20px;display:block;}
#dop .item.center{border:2px solid #ddd;background:#fafafa;text-align:center;width:320px;margin:auto;padding:20px;}
#dop .item input{margin:0 auto;text-align:center;}
#dop .item label{display:block;font-weight:bold;}
#dop .fitem{background:#fcfcfc;border:2px solid #ddd;margin:15px 0;font-size:13px;padding:10px;position:relative;}
#dop .fitem label{display:block;width:230px;padding:10px;text-align:right;font-weight:bold;float:left;}
#dop .fitem input,#dop .fitem textarea,#dop .value input,#dop .item input{background:#fff; padding:8px 10px;border:2px solid #ccc;display:block;float:left;}
#dop .fitem .no,#dop .dopitems .no{position:absolute;left:3px;padding:5px 8px;top:-10px;background:#444;color:#fff;font-size:16px;font-weight:bold; }
#dop .fitem p{background:#FFF9E6;display:block; margin:15px 0 5px 250px;font-style:italic;padding:10px;border:2px solid #F5EBC9;color:#69540F;font-size:13px;}
#dop .fitem optgroup{padding:12px 5px;background: #258dc8;font-style:normal;color:#fff;
background: -moz-linear-gradient(top, #258dc8 0%, #235ebc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#235ebc));
background: -webkit-linear-gradient(top, #258dc8 0%,#235ebc 100%);
background: -o-linear-gradient(top, #258dc8 0%,#235ebc 100%);
background: -ms-linear-gradient(top, #258dc8 0%,#235ebc 100%);
background: linear-gradient(to bottom, #258dc8 0%,#235ebc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#235ebc',GradientType=0 );
}
#dop .dopitems{position:relative;}
#dop .fitem option{padding:5px 3px 5px 10px;border-bottom:1px solid #eee;}
#dop .norm-wrapper{padding:10px 0;display:block;}
#dop .norm-wrapper em{margin:0px 5px;}
#dop .norm-wrapper a:hover{color:#000;text-decoration:none;}


#dop .line{display:block;margin:10px 0;padding:10px 5px;border-bottom:1px dotted #C3DDF7;}
#dop .line span{text-align:right;display:inline-block;}
#dop .line .label{width:230px;float:left;padding:0 8px;}
#dop .line input{display:inline-block;float:none;}
#dop .line .note{width:310px;}
#dop .as1{border:2px solid #C3DDF7;padding:5px;margin:20px 10px;position:relative;background:#F5FAFF}
#dop .legend{position:absolute;top:-13px;background:#4F97E0;left:30px;padding:1px 10px;color:#fff;font-size:11px;}
#dop .noaodop{display:inline-block;padding:0;margin:0}
#dop select{font-size:11px;padding:5px 0 0 10px;display:inline-block;background:#fff;border:2px solid #ccc;}
#dop select.as,#dop select.as2{width:200px;margin-right:15px;}
#dop select option{padding:2px 5px;}
strong.header{text-align:center;display:block;padding:10px;font-size:15px;}

.cumulaive{display:block;background:#EBF8FF;border:2px solid #D0E7F2;clear:both;padding:8px 15px;font-weight:bold;margin:0 10px;}
.cumulaive input{margin:5px;}

#dop .name,#dop .level, #dop .value{padding: 5px 15px;border-right:1px solid #ccc;}
#dop .name{max-width:480px;height:50px;}
#dop .level{text-align:center;}
#dop .value input{width:170px;}
#dop .value{width:100px;}
#dop .ehn{width:200px;}
#dop .button,#dop .back{float:right;}
#dop .back{margin:0 30px;}
#dop .back {
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color:#ededed;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;border:1px solid #dcdcdc;
display:inline-block;color:#777777;font-family:arial;
font-size:15px;font-weight:bold;padding:13px 24px;
text-decoration:none;text-shadow:1px 1px 0px #ffffff;
}
#dop .back:hover {background:#ddd !important;}
.system-r{padding:20px 40px;}
.system-r h3{font-style:italic;}
#dop textarea.eta{width:830px;margin:10px 30px;height:80px;}

table.no-border{border:0px !important;}
table.no-border .odd{background:none;}
table.no-border tr{border-bottom:1px dotted #ccc;}


/* HEADER */
#logo{display:inline-block;width:150px;background:url(../img/logo.png) no-repeat center;height:125px;float:left;}
header{height:125px; background: url(../img/europa.png) no-repeat right ;}
header strong{padding-top:25px;display:block;float:left;}
header span{display:block;}
header .is,header .itc-name{font-size:14px;font-weight:normal;color:#5c5c5c;}
header .is-name{font-size:23px;}
header .is-name em{font-style:normal;}
header .itc-name{margin:5px 0 0 50px;padding:5px 0 0 130px;width:350px;background: url(../img/itc-name.png) no-repeat top right; }



/* NAVIGATION */
nav{background:#8b8a8a url(../img/nav-bg.png) repeat-x;height:45px; }
nav ul{list-style:none;padding:0 60px;background:url(../img/nav-bg2.png);}
nav ul li{display:inline-block;float;left;padding:0 10px 0 3px;background:url(../img/nav-sep.png) no-repeat center right;}
nav ul li:last-child{background:none;}
nav ul li a{display:block;text-decoration:none;float:left;padding:14px 10px 12px 10px;color:#fff;font-size:13px;margin:0;font-weight:bold;}
 nav ul li a:hover, nav .curr,#dop-menu a:hover{
background: #258dc8;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1OGRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNThkYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8));
background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%);
background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%);
background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%);
background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );

 } 



/* CONTENT */
#content{width:959px;margin:auto;padding:10px 20px;min-height: 500px;}
#bc{font-size:11px;color:#888;padding:5px 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#bc a,#bc span{padding:0 8px;}
#bc span{color:#555;}
#bc a{color:#4390d7;text-decoration:underline;}
#bc a:hover{color:#000;}
.bc-info{color:#888 !important;margin-right:10px;padding:0;}


#main-content{padding:20px 0;color:#444;font-size:14px;line-height:20px;}
#main-content h1{font-size:20px;display:block;padding:8px 0;margin-bottom:15px;border-bottom:2px solid #ccc;}



/* CONTENT NOAO */
#noao table{border:none;}
#noao table tr.odd{background:none;}
#noao tr:hover{background:none;}
#noao th{padding: 5px;}
#noao .thhead span{position:relative;}
#noao .thhead td{padding-top:25px !important;height:50px; }
#noao .thhead .head{position:absolute;width:930px;left:-14px;top:-1px;background: #6db3f2;
background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de));
background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background: -ms-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
color:#fff;text-align:center;font-size:18px;}
#noao .code{width:180px;text-align:center;}
#noao .city{width:150px;text-align:center !important;}
#noao .true{background: #8fc400;padding:5px 10px;color:#fff;font-weight:bold;
background: #8fc400;
background: -moz-linear-gradient(top, #8fc400 0%, #719e00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#719e00));
background: -webkit-linear-gradient(top, #8fc400 0%,#719e00 100%);
background: -o-linear-gradient(top, #8fc400 0%,#719e00 100%);
background: -ms-linear-gradient(top, #8fc400 0%,#719e00 100%);
background: linear-gradient(to bottom, #8fc400 0%,#719e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#719e00',GradientType=0 );}
#noao .hove:hover{background:#EFF7FF;}



/* CONTENT NOAO detail*/
.nb-left{width:410px;float:left;}
.nb-right{width:500px;float:left;margin:0 0 0 10px;border:5px solid #eee;}
.nb-left ul{list-style:none;}
.nb-left .bigger{font-size:16px;font-weight:bold;background:#fafafa;padding:15px 5px;}
.nb-left ul li{padding:8px;border-bottom:1px solid #eee;}
.nb-left,.nb-right{margin-bottom:40px;}



/* CONTENT - HOME PAGE */
#homepage{margin:45px 0;padding:20px 0;border-top:3px solid #eee;border-bottom:3px solid #eee;}
.hompage-left{margin-right:5px;padding-right:15px!important; border-right:1px solid #eee;}
.hompage-left,.hompage-right{width:440px;float:left;padding:10px; }
.head,.public-box h3{display:block;border-bottom:2px solid #aaa;padding:12px;background: #f5f5f5;
background: -moz-linear-gradient(top, #f7f7f7 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top, #f7f7f7 0%,#eeeeee 100%);
background: -o-linear-gradient(top, #f7f7f7 0%,#eeeeee 100%);
background: -ms-linear-gradient(top, #f7f7f7 0%,#eeeeee 100%);
background: linear-gradient(to bottom, #f7f7f7 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 );
-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;border-top-right-radius: 5px;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;
}
.home-news{padding:10px 10px;margin-bottom:15px;border-bottom:1px solid #ddd;}
.home-news strong a{font-size:15px;dispaly:block;padding-bottom:15px;text-decoration: none;}
.home-news .link{float:right;}

#homepage .link{text-decoration:underline;}
#homepage .link:hover{text-decoration: none;color:#333;}
#homepage .norm{ padding:15px 5px;border-bottom:1px solid #ddd;}
#homepage .norm:hover,.home-news:hover{background:#FFFDF2;}
#homepage .norm .edit{margin-right:20px;}



/* FOOTER */
footer{background: url(../img/footer-bg.png) repeat-x;}
#footer{height:81px;background: url(../img/footer-bg2.png) no-repeat;padding:0 60px;position:relative;}
footer, .push {height:81px;font-size:12px;}
footer .itc-logo{width:76px;height: 46px;display: block;background: url(../img/itc-logo.png);float:left;margin:25px 0 0 25px;}
footer .itc-name{padding:35px 0 0 30px;float:left;color:#555;}
footer a{color:#555;text-decoration:underline;}
footer .admin{right:80px;bottom:0;position:absolute;padding:8px 20px;background:#ddd;color:#555;font-size:11px;-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;
border-top-right-radius: 5px;}



/* MESSAGES */
.msg{padding:18px 10px 18px 55px;font-size:14px;margin:10px;}
.msg.alert{background:#fff5e3 url(../../admin/img/ico_alert.png) no-repeat 10px center;border:3px solid #f3deba;color:#b66f00;}
.msg.ok{background:#f2ffee url(../../admin/img/ico_ok.png) no-repeat 10px center;border:3px solid #cefbbe;color:#345c01;}
.msg.error{background:#ffefef url(../../admin/img/ico_error.png) no-repeat 10px center;border:3px solid #ffcfcf;color:#8c0000;}
.msg.info{background:#F5FAFF url(../../admin/img/ico_info.png) no-repeat 10px center;border:3px solid #E3F0FF;color:#2F4A69;}

#error-box a{display:block;padding:5px 0;color:#000;text-decoration:underline;}
#error-box a:hover{text-decoration:none;}

#aktuality{padding:20px 10px;}

.news{padding:20px 10px;border-bottom:2px solid #ddd;}
.news:hover{background:#fafafa;}
.news h2{padding-bottom:5px;}
.news h2 a{text-decoration:underline;}
.news h2 a:hover{color:#000;}
.news span{font-size:12px;color:#777}
.news p{font-size:15px;padding:10px 0;display:block;color:#000;}

.detail,.btn-next {
-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;box-shadow:inset 0px 1px 0px 0px #bbdaf7;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #2171c2) );
background:-moz-linear-gradient( center top, #79bbff 5%, #2171c2 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#2171c2');
background-color:#79bbff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #84bbf3;display:inline-block;color:#ffffff;font-size:13px;float:right;padding:6px 18px;
text-decoration:none;text-shadow:1px 1px 0px #528ecc;}
.detail:hover,.btn-next:hover {color:#fff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2171c2), color-stop(1, #79bbff) );background:-moz-linear-gradient( center top, #2171c2 5%, #79bbff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2171c2', endColorstr='#79bbff');background-color:#2171c2;}
.detail:active {position:relative;top:1px;}

/* ARTICLE DETAIL */
.article-detail{font-size:14px; color:#333;padding:0 20px;}
.article-detail h2{font-size:18px;color:#000;padding-bottom:5px;}
.article-detail h3,.article-detail h4{color:#000;padding-bottom:5px;}
.article-detail a{color:#4390d7;text-decoration:underline;}
.article-detail a:hover{color:#003EA1;}
.article-detail .time{font-size:13px;padding:0 0 10px 0;color:#777;display:block;}
#meta{margin:20px;padding:20px;border-top:5px solid #ddd;
background: #f4f4f4;
background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #f4f4f4 0%,#ffffff 100%);
background: -o-linear-gradient(top, #f4f4f4 0%,#ffffff 100%);
background: -ms-linear-gradient(top, #f4f4f4 0%,#ffffff 100%);
background: linear-gradient(to bottom, #f4f4f4 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
}


/* PAGINATION */
.pagination{padding:5px;margin:10px;font-size:13px;}
.pagination a, .pagination span{border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333;padding:5px 10px;}
.pagination span{background:#3f4c6b;color:#fff;}
.pagination a:hover{background:#fff;}
.pagination a{background:#ccc;background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333}

.cpr-items div{margin:10px 0;padding:10px;border-bottom:1px dotted #bbb;}
.cpr-items div h2{padding-bottom:10px;}
.cpr-items div h2 a{text-decoration:underline;}
.cpr-items div h2 a:hover{color:#000;}

.groups tbody{border:2px solid #ccc;}
.groups tr{background:#fff !important;}
.groups td{padding:0px 0px;border-bottom:2px solid #ccc;border-left:1px solid #ddd;}
.groups table{background:#eee;}
.groups a{text-decoration:none !important;} 
.groups a:hover{text-decoration:underline !important;} 
.groups span{display:block;padding:10px;margin:0}
.groups .groupName span{border-left:1px solid #eee;border-right:1px solid #eee;line-height:15px;} 
.groups .groupName span.czech{background:#fff;border-bottom:1px solid #ededed;}
.groups .groupName span.czech a{color:#333}
.groups .groupName span.english{font-size:11px;background:#fafafa;border-bottom:0px solid #ccc;}

.groups th{font-size:10px;padding:5px 0;line-height:15px;border-top:2px solid #ddd;border-left:1px solid #ccc;}
.groups .code{text-align:center;font-weight:bold;font-size:16px;}
.groups .mandate{width:100px;}
.groups .mandate span, .groups .commissionDecision span{padding:0px 0 0 10px;font-size:12px;}
.groups .mandate span a{}
.groups .commissionDecision{width:135px;}


article hgroup h1{padding:3px 0 !important;border:0px !important;margin:0 !important;}
article hgroup h2{padding:3px 0 !important;border:0px !important;margin:0 !important;font-size:15px;color:#777}
article hgroup{border-top:1px solid #ddd;border-bottom:5px solid #ddd;padding:5px ;margin-bottom:20px;}

.groups td.l a{text-decoration:none;font-weight:bold;}
td.norm{padding-left:10px;}
td.validity{width:45px;border-right:1px solid #eee;border-left:1px solid #eee;}
td.as a{font-weight:bold;}
.back {
-moz-box-shadow:inset 0px 1px 0px 0px #caefab;-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;box-shadow:inset 0px 1px 0px 0px #caefab;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
background-color:#77d42a;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #268a16;
display:inline-block;color:#fff;font-family:arial;font-size:12px;padding:8px 14px; margin:10px 0 0 10px;	text-decoration:none;

}.back:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
background-color:#5cb811;
}.back:active {	position:relative;	top:1px;}


/* BUTTON */
.button {
-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;box-shadow:inset 0px 1px 0px 0px #caefab;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
background-color:#77d42a;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
border:1px solid #268a16;display:inline-block;color:#ffffff;font-family:arial;
font-size:18px;font-weight:bold;padding:11px 24px;text-decoration:none;
text-shadow:1px 1px 0px #4d5248;
}.button:hover {
cursor : pointer;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
background-color:#5cb811;
}

.public-box{padding:10px 0;}
.public-box h3{}
.key{width:260px;}

/* DOP autocomplete */
.ui-autocomplete .ui-menu-item a{border-bottom:1px solid #ccc;padding:5px 8px;font-size:14px;}
.ui-autocomplete{-webkit-box-shadow: 0px 2px 5px 2px #ccc;box-shadow: 0px 2px 5px 3px #ccc; }


/* CSN TERMINOLOGY */
/* .norm{min-width:160px;} */
.section{max-width:50px;}
.left,.right{padding-top:10px;}
.left{width:250px;float:left;position:relative; }
.left ul{list-style:none;}
.left .head-terminology{position:absolute;top:-25px;font-size:12px;color:#222;font-weight:bold;;background:url(../img/menu.png) no-repeat center left;opacity:.8;padding-left:25px;margin-left:10px;}

.left li a{padding:5px 0 5px 5px;display:block;border-bottom:1px solid #eee;color:#333;text-decoration:none; text-overflow: ellipsis;    white-space: nowrap;overflow:hidden;}
.left li a:hover{border-bottom:1px solid #ccc;color:#000;text-decoration:underline;}
.left li.active a{padding:8px 0 8px 5px;display:block;border-bottom:1px solid #eee;color:#333;font-weight:bold;background:#f5f5f5;}
.right{width:664px;float:left;padding-left:15px;}
.right img{max-width:650px;}
.right.fullWidth{width:918px;padding-left:15px;}
.right.fullWidth img{max-width:900px;}
.right h2{padding:5px 5px 10px 5px;border-bottom:1px solid #ccc;margin-bottom:15px;}

.border{width:4px;height:650px;float:left;background:olive;border-left:1px solid #ddd;border-right:1px solid #ddd;position:relative;
background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(left,  #f2f5f6 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f5f6), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #f2f5f6 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #f2f5f6 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #f2f5f6 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to right,  #f2f5f6 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
}
.border .tbtn{position:absolute;top:-30px;right:-26px;width:20px;height:26px;z-index:999;display:block;text-align:center;padding:2px 5px;font-size:18px;background:#ddd;border-left:1px solid #ccc;cursor:pointer;}
.border .tbtn:hover{background:#ccc;}
.thead{background:#EDEFEF;width:100%;height:30px;border-top:1px solid #ddd;}

.meta{font-size:12px;}
.meta td{padding:4px 3px;}
.meta .label{font-weight:bold;width:120px;padding:0 15px;}
.meta .file{float:left;}
.meta .showMore{margin-left:40px;color:#333}

.terminology.second{margin-top:50px;}

/* SEARCH FORM */
.extendedSearch{padding:10px;background:#fafafa;border:2px solid #eee;}
.extendedSearch > div{padding:8px 10px;background:#eee;margin-bottom:2px;}
.extendedSearch div label{display:inline-block;min-width:150px;}
.extendedSearch .field{padding:5px;border:1px solid #aaa;}
.extendedSearch .field.w500{width:500px;}
.extendedSearch .btn{padding:5px;height:35px;float:right;background-image:none;margin-bottom:5px;display:block;}




#s-tooltip{position: absolute;min-width: 200px;padding:5px;border: 3px solid #fff;}
.w100{width: 100px;}



/* Lang switcher  */
header{position:relative;}
#lswitcher-wrapp{position:absolute;right:15px;top:10px}
#lswitcher, #lswitcher * {margin: 0;padding: 0;outline: none;}
#lswitcher ul {list-style: none;}
#lswitcher {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 12px;color: #444;line-height: normal;position: relative; z-index: 100;}
#lswitcher form {display: none;}
#lswitcher a {text-decoration: none;display: block;padding: 0.5em 6px 0.5em 28px;color: #444;width: 7em; /* 84px; total width: 120px */
	background-repeat: no-repeat;background-position: 6px center; 
}
#lswitcher a:hover {color: #000;}
#lswitcher a.current:link, #lswitcher a.current:visited, #lswitcher a.current:active {
	position: relative;background-color: #FFF;border: 1px solid #E5E5E5;border-radius: 3px;height: 1.25em; /* 15px */}
#lswitcher a.current:hover, 
#lswitcher ul.dropdown li:hover {background-color: #F7F7F7;}
#lswitcher a.active {border-bottom: none !important;	border-radius: 3px 3px 0 0 !important;}
#lswitcher span.trigger {display: block;position: absolute;width: 9px;height: 5px;text-indent: -10000em;top: 12px;right: 6px;}
#lswitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
	background: url(../img/arrow-down.gif) no-repeat left top;	
}
#lswitcher a.current:hover span.trigger, #lswitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
	background-position: left bottom !important;
}
#lswitcher ul.dropdown { display: none;position: absolute;top: 2.333em;left: 0;background-color: #FFF;border: 1px solid #E5E5E5;
	border-top: none !important;border-radius: 0 0 3px 3px;}
#lswitcher ul.dropdown li { border-top: 1px dotted #D4D4D4;}
#lswitcher ul.dropdown li:last-child { border-radius: 0 0 3px 3px;}
#len { 	background-image: url(../img/flags/gb.png);}
#lcs { 	background-image: url(../img/flags/cs.png);}

.key{padding:5px 0 5px 15px;background:#fcfcfc;border-right:1px solid #ddd;width:220px;}
.group-info .key{width:180px;}
.group-info .block-item{border:0;font-size:14px}
.group-info .mchanges a{margin:0 3px 0 8px;font-size:14px}

#pagi-loader{border-bottom:4px solid #ddd;text-align:center; }
#pagi-loader p{background:red;background:url(../img/ajax-loader.gif) no-repeat left center;display:inline-block;padding:20px 0 20px 60px;font-weight:bold;}

.reports{margin:0 auto;list-style:none;}
.reports a{display:block;text-align:center;font-size:16px;background:#f5f5f5;padding:15px;border:1px solid #ccc;font-weight:bold;}
.reports a:hover{background:#ccc;border:1px solid #aaa;}
