<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
      
                                         
<hibernate-configuration>
 <session-factory name="HibernateSessionFactory">
 
 
	<mapping class="sk.peterjurkovic.cpr.entities.User" />
  	<mapping class="sk.peterjurkovic.cpr.entities.Authority"/>
  	<mapping class="sk.peterjurkovic.cpr.entities.UserLog"/>

 </session-factory>
</hibernate-configuration>
