nav, header{display: none;}
.container {
  width: 100%;
  height:100%;
  min-height:100%;
}
body {
  padding: 0 !important;
  min-height:100%;
}
.line2 {
  font-size: 0.8em;
  font-weight: normal;
}
.dataTables_wrapper {
  border: 1px solid #dddddd;
}
.dataTables_wrapper td.highlighted {
  background: #d9edf7;
}
.dataTables_wrapper th.highlighted,
.dataTables_wrapper .DTFC_LeftBodyWrapper td.highlighted {
  background: #ccc;
}
.dataTables_wrapper th,
.dataTables_wrapper td {
  border-radius: 0px !important;
}
.dataTables_wrapper table {
  margin-bottom: 0;
  border-radius: 0px !important;
}
.dataTables_wrapper .DTFC_LeftWrapper td,
.dataTables_wrapper .DTFC_LeftWrapper th {
  text-align: right;
}
.dataTables_wrapper .DTFC_LeftBodyWrapper {
  border-right: 1px solid #dddddd;
  box-shadow: 4px 0px 6px -2px #aaaaaa;
  z-index: 100;
}
.dataTables_wrapper .dataTables_scrollHead {
  box-shadow: 0px 4px 6px -2px #aaaaaa;
  z-index: 100;
}
.dataTables_wrapper .dataTables_scrollHead thead th,
.dataTables_wrapper .dataTables_scrollBody td {
  text-align: center;
}
.dataTables_wrapper .DTFC_LeftBodyWrapper td,
.dataTables_wrapper .dataTables_scrollHeadInner th {
  cursor: pointer;
}
.dataTables_wrapper .DTFC_LeftBodyWrapper td:hover,
.dataTables_wrapper .dataTables_scrollHeadInner th:hover {
  background: #ccc;
}
.dataTables_wrapper .dataTables_scrollBody > * {
  -webkit-transform: translateZ(0px);
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.container table td{width:30px;}
table{font-size:12px;}
table tbody td,
.container table thead td{border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
.container  th {font-size:11px;border-left:1px solid #ddd;color:#444;height:120px;padding-top:0 !important;padding-bottom:0 !important;position:relative;}
.dataTables_scrollHead th a.rotate{display:block;font-size:11px;position:absolute;width:120px;z-index:999;top:50px;left:-15px;}
table thead a{color:#000}
table thead a:hover{text-decoration:underline;}

.qs-th{background:#D1F1FF !important;}

.DTFC_LeftHeadWrapper{z-index:999}
.code-label{display: block;width: 70px;text-align:center;font-weight:bold;}

.qs-left-th,
.dataTable.no-footer.DTFC_Cloned td,
.DTFC_LeftHeadWrapper th{background:#FFFCD1;}

.qs-granted-true{background:#85FF5C;font-size:10px;}
.qs-hover{background: #FFF5D6;}
.qs-granted-true.qs-hover{background:#FFE282 !important;}


.qs-nav{height:50px;background:#ccc;margin:0;padding:5px;background: url(../../img/header-bg.png) repeat-x;}
.qs-nav strong{display:block;float:left;font-size:20px;color:#fff;height:26px;padding:12px 10px;}
.qs-nav form{float:left;margin-bottom:0;}
.qs-nav .close-btn{display:block;padding:15px 7px;background:#DE1D1D;font-size:12px;font-weight:bold;height:14px;position:absolute;right:10px;border-radius:8px;top:4px;color:#fff;border:3px solid #ED7777;}
.qs-nav .close-btn:hover{background:#AD1010;border:3px solid #fff}

.qs-th-hover .rotate{
  background:#fff !important;
  border:1px solid #ccc;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  padding:10px 10px;left:-35px !important;
  border-radius:5px;
  z-index:9999;
  top:20px !important;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 0px 5px 1px rgba(50, 50, 50, 0.75);
box-shadow:         1px 0px 5px 1px rgba(50, 50, 50, 0.75);
}

.qs-id,
.qs-e{display: none;}
.qs-th-hover{text-align:left !important}
.qs-th-hover .qs-n{font-weight: bold;border-bottom:1px solid #ccc;margin-bottom:10px;display:block;}
.qs-th-hover .qs-id,
.qs-th-hover .qs-e{display: inline-block;font-size: 11px;font-weight:normal;}

.functions table{border-collapse:collapse;width:100%}
.functions th{background: #4f85bb;
background: -moz-linear-gradient(top, #4f85bb 0%, #3477ba 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#3477ba));
background: -webkit-linear-gradient(top, #4f85bb 0%,#3477ba 100%);
background: -o-linear-gradient(top, #4f85bb 0%,#3477ba 100%);
background: -ms-linear-gradient(top, #4f85bb 0%,#3477ba 100%);
background: linear-gradient(to bottom, #4f85bb 0%,#3477ba 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#3477ba',GradientType=0 );
color:#fff;padding:15px;border-bottom:1px solid #2A5196;border-right:1px solid #2A5196;box-shadow: 0px 4px 6px -2px #aaaaaa;
}
.functions td{padding:10px;text-align:center;}
.functions td.name{text-align:left;}
.functions .qs-name{text-align:left;}
.functions .qs-name a{font-weight:bold;}
.functions .qs-name a:hover{color:#000;text-decoration:underline;}
.functions .odd{background:#fcfcfc}

.qs-external,
.gs-inTraining,
.qs-internal{padding-left:19px;background-image:url(../../img/int_ext.png);background-repeat:no-repeat;}
.qs-external{background-position:0 -40px ;}
.gs-inTraining{background-position:0 -81px ;padding-left:17px}