/* Registration widget nav */
.w-nav { display: table;  width: 100%;border-radius:5px;background: #0da192;
background: -moz-linear-gradient(top,  #0da192 0%, #00878c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0da192), color-stop(100%,#00878c));
background: -webkit-linear-gradient(top,  #0da192 0%,#00878c 100%);
background: -o-linear-gradient(top,  #0da192 0%,#00878c 100%);
background: -ms-linear-gradient(top,  #0da192 0%,#00878c 100%);
background: linear-gradient(to bottom,  #0da192 0%,#00878c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da192', endColorstr='#00878c',GradientType=0 );
}

.w-nav li { display: table-cell;font-size:13px;border-right:1px solid #9BDED6;text-align:center;}
.w-nav li a{text-decoration:none;color:#fff;font-weight:bold;padding:15px 0;display:inline-block;width:100%}
.w-nav li a:hover,
.w-nav .active{background:#006569;}



.pj-widget-artice{color:#333;font-size:14px;line-height:19px;margin:0 10px !important;}
.pj-widget-artice h1,
.pj-widget-artice h2,
.pj-widget-artice h3,
.pj-widget-artice h4{margin:15px 0 5px 0;}
.pj-widget-artice h1{font-size:25px;}
.pj-widget-artice h2{font-size:20px;}
.pj-widget-artice h3{font-size:20px;border-bottom:2px dotted #ddd;padding-bottom:10px;margin-bottom:15px;color:#006569}
.pj-widget-artice a{color:#0A7D70}
.pj-widget-artice ul,
.pj-widget-artice ol{padding:10px 25px;}
.pj-widget-artice ul li{list-style-type:disc;padding:3px;color:#333}
.pj-widget-artice div,
.pj-widget-artice p{line-height:20px;}



/* News widget */
.pj-widget-news .pj-item{margin:15px 0;padding-bottom:15px;border-bottom:1px solid #eee;}
.pj-widget-news .pj-date{display:block;background:#eee;width:80px;text-align:center;padding:3px;font-size:13px;color:#444;margin-bottom:5px;}
.pj-widget-news strong{display:block;padding-bottom:10px;font-size:14px;}
.pj-widget-news a{color:#0088c8}
.pj-widget-news a:hover{color:#333;}
.pj-widget-news p{font-size:12px;}


@media (max-width:2000px) and (min-width:651px) {
     .w-nav li a{font-size:15px;}
}​
@media (max-width:650px) and (min-width:550px) {
     .w-nav li a{font-size:14px;}
}​
@media (max-width:560px){
     .w-nav li a{font-size:12px ;}
}​