<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
      
<!-- Konfiguracia entit -->         
                                
<hibernate-configuration>
 <session-factory >
 
 	<mapping class="cz.nlfnorm.entities.User" />
	<mapping class="cz.nlfnorm.entities.UserInfo" />
  	<mapping class="cz.nlfnorm.entities.Authority"/>
  	<mapping class="cz.nlfnorm.entities.UserLog"/>
  	<mapping class="cz.nlfnorm.entities.Address"/>
  	<mapping class="cz.nlfnorm.entities.AssessmentSystem"/>
  	<mapping class="cz.nlfnorm.entities.Country"/>
  	<mapping class="cz.nlfnorm.entities.Mandate"/>
  	<mapping class="cz.nlfnorm.entities.NotifiedBody"/>
  	<mapping class="cz.nlfnorm.entities.Standard"/>
  	<mapping class="cz.nlfnorm.entities.StandardCsn"/>
  	<mapping class="cz.nlfnorm.entities.StandardCsnChange"/>
  	<mapping class="cz.nlfnorm.entities.StandardGroup"/>
  	<mapping class="cz.nlfnorm.entities.StandardChange"/>
  	<mapping class="cz.nlfnorm.entities.StandardNotifiedBody"/>
  	<mapping class="cz.nlfnorm.entities.CommissionDecision"/>
  	<mapping class="cz.nlfnorm.entities.BasicRequirement"/>
	<mapping class="cz.nlfnorm.entities.Requirement" />
	<mapping class="cz.nlfnorm.entities.Webpage" />
	<mapping class="cz.nlfnorm.entities.BasicSettings"/>
	<mapping class="cz.nlfnorm.entities.ExceptionLog"/>
	<mapping class="cz.nlfnorm.entities.Report"/>
	
	<!-- Terminology -->
	<mapping class="cz.nlfnorm.entities.Csn"/>
	<mapping class="cz.nlfnorm.entities.CsnCategory"/>
	<mapping class="cz.nlfnorm.entities.CsnTerminology"/>
	<mapping class="cz.nlfnorm.entities.CsnTerminologyLog"/>	
	
	<mapping class="cz.nlfnorm.entities.PortalProduct"/>
	<mapping class="cz.nlfnorm.entities.PortalOrder"/>
	<mapping class="cz.nlfnorm.entities.PortalOrderItem"/>
	<mapping class="cz.nlfnorm.entities.UserOnlinePublication"/>
	<mapping class="cz.nlfnorm.entities.EmailTemplate"/>
	
	
	 
 </session-factory>
</hibernate-configuration>
