@CHARSET "UTF-8";
*{border:none;padding:0px;margin:0px;}
header, footer, nav, aside, article, section{display:block }
body{font-family: Arial,Tahoma, sans-serif;}
.clear{ clear:both;}
.hidden{ display:none;}
.c{ text-align:center;}
.l{ text-align:left;}
a{text-decoration:none;color:#3e4e69;}
.blind {   left: -5000px;position: absolute; top: -5000px;}
.radius,.published,#req-nav a{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

/* TABS EDITACIA NORIEM --- */
#tabs{border:2px solid #ccc;background:#fdfdfd;}
#tabs a.tab{display:block;padding:15px;background:red;border-bottom:1px solid #999;font-weight:bold;
background: #6d8eaa;
background: -moz-linear-gradient(top,  #6d8eaa 0%, #44596b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d8eaa), color-stop(100%,#44596b));
background: -webkit-linear-gradient(top,  #6d8eaa 0%,#44596b 100%);
background: -o-linear-gradient(top,  #6d8eaa 0%,#44596b 100%);
background: -ms-linear-gradient(top,  #6d8eaa 0%,#44596b 100%);
background: linear-gradient(to bottom,  #6d8eaa 0%,#44596b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d8eaa', endColorstr='#44596b',GradientType=0 );
color:#fff;}
#tabs a.tab:hover{background: #3C475E;}
#tabs .active-tab-head{padding:15px 20px;display:block;border-top:1px solid #fff;border-bottom:1px solid #aaa;color:#333;background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.active-tab{padding:20px 15px;}
/* END --- */

#status{position:absolute;z-index:99999999;background:url(../img/tbg.png);padding:50px;display:none;}
#status p{padding:15px 15px 15px 50px;font-size: 14px; }
#status .ok{border:4px solid #d5f0a9;color:#548015;background:#f7ffec url(../img/ico_ok.png) no-repeat 5px center;}
#status .err{border:4px solid #fdd1d1;color:#b21d1d;background:#fff2f2 url(../img/ico_error.png) no-repeat 5px center;}
.formerr{border-color:red;background-color:#fffafa;}

.published{display:block;margin:auto;width:60px;text-align:center;text-transform:uppercase;}
.published.yes{background:#CFFFD2;border:1px solid #A9F5AE;}
.published.no{background:#FFE3E3;border:1px solid #F7B2B2;color:#700B0B;}


/* Requirement nav */
#req-nav{font-size:12px;background:#fff6eb;border:3px solid #ffedd6;padding:8px 15px;margin-bottom:15px;}
#req-nav a:hover{background:#6AC600;}
#req-nav a{padding:11px;margin-right:40px;display:inline-block;background: #69ba00;
background: -moz-linear-gradient(top,  #69ba00 0%, #5da500 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69ba00), color-stop(100%,#5da500));
background: -webkit-linear-gradient(top,  #69ba00 0%,#5da500 100%);
background: -o-linear-gradient(top,  #69ba00 0%,#5da500 100%);
background: -ms-linear-gradient(top,  #69ba00 0%,#5da500 100%);
background: linear-gradient(to bottom,  #69ba00 0%,#5da500 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ba00', endColorstr='#5da500',GradientType=0 );

color:#fff;font-weight:bold;border:3px solid #fff;}

/* MCE WISIWIG editor*/
.mceEditor.bigEditorSize > table { height: 350px !important;}
.mceEditor.bigEditorSize > table { width:  610px !important;}

.red{color:red;}
.msg{padding:18px 10px 18px 55px;font-size:14px;margin:10px;}
.msg.alert{background:#fff5e3 url(../img/ico_alert.png) no-repeat 10px center;border:3px solid  #f3deba;color:#b66f00;}
.msg.ok{background:#f2ffee url(../img/ico_ok.png) no-repeat 10px center;border:3px solid  #cefbbe;color:#345c01;}
.msg.error{background:#ffefef url(../img/ico_error.png) no-repeat 10px center;border:3px solid  #ffcfcf;color:#8c0000;}
.msg.info{background:#F5FAFF url(../img/ico_info.png) no-repeat 10px center;border:3px solid  #E3F0FF;color:#2F4A69;}

.note{font-size:11px;margin:20px 0;display:block;color:#777;font-style:italic;}

.mw300{min-width: 300px;}
.mw500{min-width: 500px;}
.mw600{min-width: 600px;}
.w100{width:100px;}
.w200{width:200px;}
.w300{width:300px;}

/* QUICK SEARCH */
.search-box{margin:10px 0;background:#f6f9ff;padding:8px 20px;font-size:13px;border:3px solid #e9effa;color:#555}
.search-box input {margin-left:15px; }

.form-head{background: #eeeeee;padding:10px 20px;font-size:14px;color:#555;border-top:1px solid #ccc; 
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */}

table.info{padding:10px 30px;font-size:11px;color:#555;border-collapse:collapse;width:400px;background:#fcfcfc;border:3px solid #f5f5f5;margin:10px 0; }
table.info tr{border-bottom:1px solid #eee;}
table.info td{padding:5px 10px;}
table.info .key{text-align:right;font-weight:bold;}

/* CONTENT SUB NAV */
.sub-nav{background:red;list-style:none;height:31px;padding:0 0 40px 30px;background: url(../img/sub-nav.png) repeat-x bottom;margin-bottom:10px}
.sub-nav li{position:relative;background:#fff;margin:2px;}
.sub-nav li a{display;block;float:left;padding:12px;height:16px;font-size:14px;margin:0 3px;background:#fff;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}
.sub-nav li a:hover{background: #ff8400; color: #fff;}
.sub-nav li a.active{background:#f2f2f2;color:#888;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}


/* HEADER */
header{height: 58px;background: url(../img/header-bg.png) repeat-x;border-bottom:1px solid #fff;}
#logo{color:#fb9340;display:block;width:250px;padding:10px 0 10px 30px;font-size:30px;}
#logo span{font-size:20px;color:#fff;margin-left:5px;}

#logged-user{background:url(../img/header-user.png) repeat-x; height: 17px;position: absolute;right: 100px;padding:9px 20px;top:10px;color:#fff;font-size:12px;}
#logged-user a{color:#fff;text-decoration:underline;margin-left:20px;}
#logged-user a:hover{text-decoration: none;}
#logout{display: block;position: absolute; width: 30px;height: 30px;background: url(../img/log-out.png) no-repeat; right: 30px;top: 10px;border:3px solid #777085;}
#logout:hover{opacity:.7;}


/* MENU */
nav{height: 78px;background: url(../img/menu-bg.png) repeat-x;border-bottom:4px solid #ffa65f;}
nav ul{list-style: none;}
nav ul li{border-right:1px solid #ebeced;display:block;height:78px;float:left;}
nav ul li a{display: block;float: left;height: 28px;padding: 50px 30px 0 30px;background-repeat: no-repeat;background-position: center 15px;font-size:13px;text-transform:uppercase;border-right:1px solid #fff;}
nav ul li a:hover{background-color:#ffa65f;}
nav .home{background-image: url(../img/menu-home.png);}
nav .doc{background-image: url(../img/menu-doc.png);}
nav .cal{background-image: url(../img/menu-cal.png);}
nav .user{background-image: url(../img/menu-user.png);}

#breadcrumb{background:#f7f7f7;padding:10px 0 10px 25px;border:1px solid #ddd;font-size:12px;}
#breadcrumb a,#breadcrumb span{margin:0 10px;}
#breadcrumb a:hover{text-decoration:underline;}
#breadcrumb span{color:#777;}

/* DASHBOARD */
#dashboard{padding:20px;background:#fdfdfd;}
#speed-nav{padding:20px;list-style:none;background:#fafafa;border:1px solid #ddd; height:130px;margin-bottom:20px;}
#speed-nav li{margin:0 30px 0 0;background: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 transparent;border: 1px solid #D8D8D8; border-radius: 4px 4px 4px 4px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;color: #333333; display: block;padding: 10px;text-align: center;text-decoration: none;float:left;-webkit-box-shadow: 0px 0px 10px 1px #ccc;box-shadow: 0px 0px 10px 1px #ccc; }
#speed-nav li:hover{-webkit-box-shadow: 0px 0px 10px 1px #ccc;box-shadow: 0px 0px 0px 0px #ccc;background:#fafafa}
#speed-nav li a{background-repeat:no-repeat;background-position:center 10px;display:block;padding:80px 0 0 0;width:130px;height:25px;font-size:12px;color:#363643;text-transform:uppercase;}
.ico-cpr{background-image:url(../img/ico_cpr_large.png);}
.ico-user{background-image:url(../img/ico_user_large.png);}
.ico-cal{background-image:url(../img/ico_cal_large.png);}
.ico-info{background-image:url(../img/ico_info_large.png);}
.ico-sett{background-image:url(../img/ico_sett_large.png);}

.hbox{border-bottom: 2px solid #FB9337;display: inline-block; margin: 20px 0;padding: 0 20px 5px 0;}
h1{ color:#485B79;font-size:22px;font-weight: normal;background:#fafAfa;border-bottom:1px solid #ddd;padding:15px 35px;}
h2{font-size: 16px;text-transform: uppercase;color:#555}

.data{background:#fcfcfc;border-collapse:collapse;background:#f8f8f8;font-size:12px;border:1px solid #ccc;width:100%;color:#333}
.data tr.odd{background:#fcfcfc;}
.data tr:hover{background:#fff6eb;}
.data td{padding:8px 10px;line-height:21px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.data th{padding:15px 5px;background:#eee;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#555;}
.data td a{text-decoration: underline;}
.data td a:hover{text-decoration: none;}
.data .edit,.data .delete{width:60px;}
.data .edit a{display:block;color:#cf7f00;}
.data .edit a:hover{background: url(../img/ico_edit.png) no-repeat right center;}
.data .delete a{display:block;color:#c80000;}
.data .delete a:hover{background: url(../img/ico_delete.png) no-repeat right center;}
.data .last-edit{text-align:center;width:120px;}
/* WRAPPER */
#wrapper{background:#fafafa;}

/* VERTICAL SUB NAV */
#left{width:250px;position:absolute;}
#left ul{font-size:11px;text-transform:uppercase;letter-spacing:0.5px;font-weight:bold;}
#left ul li a{display:block;padding:15px 0 15px 30px;border-bottom:1px solid #ddd;background:url(../img/left-nav-ico1.png) no-repeat 10px center;}
#left ul li a:hover, #left ul li .active{background:#eee url(../img/left-nav-ico.png) no-repeat 10px center;}
#right{min-height:500px;margin-left:250px;border-left:1px solid #ddd;background:#fff;}

.nav-head{display:block;padding:20px;background:#fff url(../img/nav-head.png) no-repeat right  center;border-bottom:5px solid #ddd;text-transform:uppercase;font-weight:normal;color:#ff8400}

#content{padding:25px;}

form{border:1px solid #ddd;}
form p{display:block; border-top: 1px solid #DDDDDD;background:#fafafa;position:relative;}
form p label{display: inline-block;font-weight: bold;padding:20px;text-align: left;vertical-align: top;width:180px;font-size:12px;color:#555;position:absolute;}
.field{padding:15px 20px;display: block; background:#fff;margin-left:220px;border-left:1px solid #ddd;}
form small{color:#888;font-style:italic;display:block;padding-top:3px;}
input, textarea,select{background: none repeat scroll 0 0 #FCFCFC;border: 1px solid #CCCCCC; border-radius: 2px 2px 2px 2px;box-shadow: 0 1px 3px #DDDDDD inset;color: #666666;padding: 6px 5px;}
select{min-width:300px;}
select option{padding:2px 0px 1px 5px;}
.button-box{padding:10px 20px 10px 240px}
.button{background: #FB9337;border: 1px solid #F0882C;color: #FFFFFF;cursor: pointer;font-weight: bold; padding: 7px 20px;font-size:12px;}
.button:hover{background:#1e1f46;box-shadow:none;border:1px solid #fff;}


#ui-datepicker-div{font-size:14px;}
.date{text-align:right;font-size:14px;padding:8px 40px 8px 0;background:#FCFCFC url(../img/ico_calendar_input.png) no-repeat 135px center; width:120px; }
.sublabel{margin:0 20px;font-size:14px;color:#555}
.pagination{padding:5px;margin:10px;font-size:13px;}
.pagination a, .pagination span{border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333;padding:5px 10px;}
.pagination span{background:#3f4c6b;color:#fff;}
.pagination a:hover{background:#fff;}
.pagination a{background:#ccc;background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333}
