@CHARSET "UTF-8";
*{border:none;padding:0px;margin:0px;}
header, footer, nav, aside, article, section{display:block }
html{height:100%;}
body{font-family: Arial,Tahoma, sans-serif;position: relative;min-height: 100%;height:100%}
.clear{ clear:both;}
.hidden{ display:none !important;} 
.c{ text-align:center;}
.l{ text-align:left;}
.r{ text-align:right;}
.crop-text{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.bold{font-weight: bodl;}
ul.tagit{width:inherit !important;}

label.tt{cursor: help;background:url(../img/info_mini.png) no-repeat 195px 5px; }
a{text-decoration:none;color:#3e4e69;}
.blind {   left: -5000px;position: absolute; top: -5000px;}
.radius-top,
.sub-nav li a{-webkit-border-top-left-radius: 7px;-webkit-border-top-right-radius: 7px;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;border-top-left-radius: 7px;border-top-right-radius: 7px;}
.radius,.published,#req-nav a,.btn,.cpr-dashboard li,#chars{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.file{padding:0 0 0 25px;display:inline-block;background-position: 0 center;background-repeat: no-repeat;}
.print{background-image:url(../img/ico_print.png)}
.pdf{background-image:url(../../public/img/file_pdf_22x22.png);}

/* Assessment system form */
.variable-info{padding:10px 0;font-size:14px !important;display:inline-block;}
.variable-info em{font-size:14px !important;line-height:40px;color:#000 !important;}

.version{margin: 20px 0;font-size: 11px;background:#f5f5f5;padding:10px;border:1px solid #ddd;color:#333}

/* TABLE ROLES */
.roles{background:#FFF9F0;color:#555;font-size:14px;width:100%;border:3px solid #F7E6CB;border-collapse:collapse;}
.roles .odd{background:#FFF5E6;border-top:1px solid #fff;border-bottom:1px solid #fff;}
.roles .check{width:10%;text-align:center;padding:15px;}
.roles .name{color:#333;font-weight:bold;width:20%}

.clearmargin{margin:0 15px !important;}

/* HELP */
#help{padding:20px;}
#help h3{padding-bottom:10px;font-size:15px;cursor: pointer;}
#help h3 span{margin:10px 10px 0px 10px;display:inline-block;}
#help .help-box{padding:20px 0 20px 40px;font-size:14px;}




/* FILTER */
.ui-autocomplete{font-size:13px !important;-webkit-box-shadow: 0px 5px 5px 3px #888;box-shadow: 0px 5px 5px 3px #888; }
.ui-autocomplete .ui-menu-item a{padding:8px 8px !important;border-bottom:1px solid #ddd;}
.filter{background:#F2F8FA;padding:5px 10px;border:4px solid #DFEDF2;font-size:12px;margin-bottom:10px;}
.filter input{padding:5px;width:145px;}
.filter select{padding:4px;min-width:170px;font-size:12px; }
.filter span.bx{padding:5px 10px 5px 15px;color:#555;}
.filter div{padding: 3px 0;}
.filter .date{background: url("../img/ico_calendar_input.png") no-repeat scroll 90px center #FCFCFC;width:100px;text-align:left}
.filter.article .date{background: url("../img/ico_calendar_input.png") no-repeat scroll 145px center #FCFCFC;width:158px;text-align:left}
.filter input.query{width:350px;}
.filter.log input.query{width:300px;}
.filter.user input.query{width:184px;}
.filter.article input.query{width:315px;}
.filter.user .enabled{min-width:100px;}
.filter .groups{font-size:12px;width:638px;}
.filter .groups option{padding:3px 2px;}
.filter span.long{display:block;width:120px;float:left;}
.filter.log .btn{margin-left:115px;}
.filter .fixed{min-width:80px;text-align:center;display:inline-block;}
.filter.user .btn{margin-left:69px;}
.filter.article .btn{margin-left:20px;}
.filter .btn{background: #4f85bb;color:#fff;width:100px;border:1px solid #356aa0;margin-left:170px;cursor:pointer;


background: -moz-linear-gradient(top,  #4f85bb 0%, #4f85bb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb));
background: -webkit-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
background: -o-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
background: -ms-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 );}
.filter .btn:hover{background:#284E77;}
.filter .btn.csn{margin: 0 0 0 15px;}
.filter-input-long{min-width:300px;}
.filter-input-middle{min-width:150px;}


.filter > div{border-bottom:1px solid #fff}
.filter > div:hover{background: #EDF5F7}
.filter-label{padding:10px 5px;color:#333;}
.filter-label.long{padding-right:0}
.filter-btn-standard{margin-left:30px !important;margin-right:10px;}
.filter-advanced{display: none;}
.items-count{font-size:12px;padding:8px;background:#fafafa;border:1px solid #eee;color:#333;float:right;margin-bottom:8px;}


/* TABS EDITACIA NORIEM --- */
#tabs{border:2px solid #ccc;background:#fdfdfd;}
#tabs a.tab{display:block;padding:15px;border-bottom:1px solid #999;font-weight:bold;
background: #6d8eaa;
background: -moz-linear-gradient(top,  #6d8eaa 0%, #44596b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d8eaa), color-stop(100%,#44596b));
background: -webkit-linear-gradient(top,  #6d8eaa 0%,#44596b 100%);
background: -o-linear-gradient(top,  #6d8eaa 0%,#44596b 100%);
background: -ms-linear-gradient(top,  #6d8eaa 0%,#44596b 100%);
background: linear-gradient(to bottom,  #6d8eaa 0%,#44596b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d8eaa', endColorstr='#44596b',GradientType=0 );
color:#fff;}
#tabs a.tab:hover{background: #3C475E;}
#tabs .active-tab-head{padding:15px 20px;display:block;border-top:1px solid #fff;border-bottom:1px solid #aaa;color:#333;background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.active-tab{padding:20px 15px;}
/* END --- */

#status{position:absolute;z-index:99999999;background:url(../img/tbg.png);padding:50px;display:none;}
#status p{padding:15px 15px 15px 50px;font-size: 14px; }
#status .ok{border:4px solid #d5f0a9;color:#548015;background:#f7ffec url(../img/ico_ok.png) no-repeat 5px center;}
#status .err{border:4px solid #fdd1d1;color:#b21d1d;background:#fff2f2 url(../img/ico_error.png) no-repeat 5px center;}
.formerr{border-color:red;background-color:#fffafa;}

.published{display:block;margin:auto;width:60px;text-align:center;text-transform:uppercase;}
.published.yes{background:#CFFFD2;border:1px solid #A9F5AE;}
.published.no{background:#FFE3E3;border:1px solid #F7B2B2;color:#700B0B;}


/* CPR dashboard */
.cpr-dashboard{background:#fff;padding:20px;list-style:none;border:1px solid #eee;}
.cpr-dashboard>li{ padding:20px 30px;margin-bottom:10px;border:1px solid #ddd;background: #ffffff;min-height:70px;clear:both;
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );}
.cpr-dashboard>li:hover{background:#fff;-webkit-box-shadow: 0px 0px 10px 4px #777;
box-shadow: 0px 0px 7px 1px #999; }
.cpr-dashboard li .main-item{display:block;font-size:23px;color:#555;}
.cpr-dashboard .label{display:block;color:#555;font-size:14px;}
.cpr-dashboard li .innter-nav{margin-top:1px;display:block;color:#aaa}
.cpr-dashboard li .innter-nav a{font-size:14px;margin:0px; }
.cpr-dashboard ul{height:20px;}
.cpr-dashboard ul li:first-child{padding:5px 8px 5px 0;border-left:none;}
.cpr-dashboard ul li{display:block;float:left;padding:5px 8px; border-left:1px solid #ccc;}
.cpr-dashboard ul li a{text-decoration:underline;}
.cpr-dashboard ul li a:hover{text-decoration:none;}
.cpr-dashboard .hbox{margin-top:0;}

.dashboard-standards{padding:10px;background:#fafafa;border:1px solid #ccc;font-size:14px;}
.dashboard-standards .norm{padding:10px;border-bottom:1px dotted #ccc;color:#333}
.dashboard-standards .norm a{display:inline-block;min-width:200px;padding-left:20px;}

/* Requirement nav */
#req-nav{font-size:12px;background:#fff6eb;border:3px solid #ffedd6;padding:8px 15px;margin-bottom:15px;}
#req-nav a:hover, a.add:hover{background:#508216;}
#req-nav a, a.add{padding:11px;margin-right:40px;display:inline-block;background: #69ba00;
background: -moz-linear-gradient(top,  #69ba00 0%, #5da500 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69ba00), color-stop(100%,#5da500));
background: -webkit-linear-gradient(top,  #69ba00 0%,#5da500 100%);
background: -o-linear-gradient(top,  #69ba00 0%,#5da500 100%);
background: -ms-linear-gradient(top,  #69ba00 0%,#5da500 100%);
background: linear-gradient(to bottom,  #69ba00 0%,#5da500 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ba00', endColorstr='#5da500',GradientType=0 );
color:#fff;font-weight:bold;border:3px solid #fff;}

/* MCE WISIWIG editor*/
.mceEditor.bigEditorSize > table { height: 350px !important;}
.mceEditor.bigEditorSize > table { width:  610px !important;}

.red{color:red;}
.msg{padding:18px 10px 18px 55px;font-size:14px;margin:10px;}
.msg.alert,.import.alert{background:#fff5e3 url(../img/ico_alert.png) no-repeat 10px center;border:3px solid  #f3deba;color:#b66f00;}
.msg.ok,.logResult.importSuccess,.import.success{background:#f2ffee url(../img/ico_ok.png) no-repeat 10px center;border:3px solid  #cefbbe;color:#345c01;}
.msg.error,.logResult.importFailed,.import.failed{background:#ffefef url(../img/ico_error.png) no-repeat 10px center;border:3px solid  #ffcfcf;color:#8c0000;}
.msg.info{background:#F5FAFF url(../img/ico_info.png) no-repeat 10px center;border:3px solid  #E3F0FF;color:#2F4A69;}
.mini-info{background:#F5FAFF url(../img/ico_info_16x16.png) no-repeat 5px center;border:2px solid  #E3F0FF;color:#2F4A69;padding:8px 8px 8px 30px;font-size:12px;margin:8px;}
.mini-info strong{font-weight: bold;}
.mini-info a{ text-decoration: underline;}
.mini-info a:hover{color:#111}


.note{font-size:11px;margin:20px 0;display:block;color:#777;font-style:italic;}

.mw150{min-width: 150px;}
.mw300{min-width: 300px;}
.mw60{min-width: 60px;}
.mw500{min-width: 500px;}
.mw600{min-width: 600px;}
.mh100{min-height: 100px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w100{width:100px !important;}
.w200{width:200px;}
.w300{width:300px;}
.maxw600{max-width: 500px;}

/* QUICK SEARCH */
.search-box{margin:10px 0;background:#f6f9ff;padding:8px 20px;font-size:13px;border:3px solid #e9effa;color:#555}
.search-box input {margin-left:15px; }

.form-head{background: #eeeeee;padding:10px 20px;font-size:14px;color:#555;border-top:1px solid #ccc; 
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */}

table.info{padding:10px 30px;font-size:11px;color:#555;border-collapse:collapse;width:400px;background:#fcfcfc;border:3px solid #f5f5f5;margin:10px 0; }
table.info tr{border-bottom:1px solid #eee;}
table.info td{padding:5px 10px;}
table.info .key{text-align:right;font-weight:bold;}

/* CONTENT SUB NAV */
.sub-nav{list-style:none;height:31px;padding:0 0 40px 30px;background: url(../img/sub-nav.png) repeat-x bottom;margin-bottom:10px}
.sub-nav li{position:relative;background:#fff;margin:2px;}
.sub-nav li a{display;block;float:left;padding:12px;height:16px;font-size:14px;margin:0 3px;background:#fff;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}
.sub-nav li a:hover{background: #ff8400; color: #fff;}
.sub-nav li a.active{background:#f2f2f2;color:#888;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}


/* HEADER */
header{height: 58px;background: url(../img/header-bg.png) repeat-x;border-bottom:1px solid #fff;}
#logo{color:#fb9340;display:block;max-width:500px; padding:10px 0 10px 30px;font-size:30px;}
#logo span{font-size:20px;color:#fff;margin-left:5px;}

#logged-user{background:url(../img/header-user.png) repeat-x; height: 17px;position: absolute;right: 100px;padding:9px 20px;top:10px;color:#fff;font-size:12px;}
#logged-user a{color:#fff;text-decoration:underline;margin-left:20px;}
#logged-user a:hover{text-decoration: none;}
#logout{display: block;position: absolute; width: 30px;height: 30px;background: url(../img/log-out.png) no-repeat; right: 30px;top: 10px;border:3px solid #777085;}
#logout:hover{opacity:.7;}


/* MENU */
nav{height: 78px;background: url(../img/menu-bg.png) repeat-x;border-bottom:4px solid #ffa65f;}
nav ul{list-style: none;}
nav ul li{border-right:1px solid #ebeced;display:block;height:78px;float:left;}
nav ul li a{display: block;float: left;height: 28px;text-align:center;padding: 50px 30px 0 30px;background-repeat: no-repeat;background-position: center 15px;font-size:13px;text-transform:uppercase;border-right:1px solid #fff;}
nav ul li a:hover{background-color:#ffa65f;}
nav .home{background-image: url(../img/menu-home.png);}
nav .doc{background-image: url(../img/menu-doc.png);}
nav .cal{background-image: url(../img/menu-cal.png);}
nav .user{background-image: url(../img/menu-user.png);}
nav .quasar{background-image: url(../img/menu-quasar.png);}
nav .sett{background-image: url(../img/menu-sett.png);min-width:100px;}
nav .web{background-image: url(../img/menu-web.png)}
nav .csn{background-image: url(../img/menu-csn.png)}
nav .portal{background-image: url(../img/ico_zn.png)} 
nav.smallNav{height:40px;}
nav.smallNav li{height:40px;}
nav.smallNav ul li a{background-image:none;padding:12px 12px 0 12px;font-weight:bold;}


#breadcrumb{background:#f7f7f7;padding:10px 0 10px 25px;border:1px solid #ddd;font-size:12px;}
#breadcrumb a,#breadcrumb span{margin:0 10px;}
#breadcrumb a:hover{text-decoration:underline;}
#breadcrumb span{color:#777;}

/* DASHBOARD */
#dashboard{padding:20px;background:#fdfdfd;}
#speed-nav{padding:20px;list-style:none;background:#fafafa;border:1px solid #ddd;margin-bottom:20px;}
#speed-nav li{margin:10px 30px 10px 0;background: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 transparent;border: 1px solid #D8D8D8; border-radius: 4px 4px 4px 4px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;color: #333333; display: inline-block;padding: 10px;text-align: center;text-decoration: none;-webkit-box-shadow: 0px 0px 10px 1px #ccc;box-shadow: 0px 0px 10px 1px #ccc; }
#speed-nav li:hover{-webkit-box-shadow: 0px 0px 10px 1px #ccc;box-shadow: 0px 0px 0px 0px #ccc;background:#fafafa}
#speed-nav li a{background-repeat:no-repeat;background-position:center 10px;display:block;padding:80px 0 0 0;width:130px;height:25px;font-size:12px;color:#363643;text-transform:uppercase;}
.ico-cpr{background-image:url(../img/ico_cpr_large.png);}
.ico-user{background-image:url(../img/ico_user_large.png);}
.ico-cal{background-image:url(../img/ico_cal_large.png);}
.ico-info{background-image:url(../img/ico_info_large.png);}
.ico-sett{background-image:url(../img/ico_sett_large.png);}
.ico-web{background-image:url(../img/ico_web_large.png);}
.ico-csn{background-image:url(../img/ico-csn.png);}
.ico-portal{background-image: url(../img/ico_zn_large.png)} 

.hbox{border-bottom: 2px solid #FB9337;display: inline-block; margin: 20px 0;padding: 0 0 5px 0;}
h1{ color:#485B79;font-size:19px;font-weight: normal;background:#fafAfa;border-bottom:1px solid #ddd;padding:10px 35px;}
h2{font-size: 16px;text-transform: uppercase;color:#555}
h1.pj-smaller{font-size:18px;padding:10px 35px;}

.data{background:#fcfcfc;border-collapse:collapse;background:#f8f8f8;font-size:12px;border:1px solid #ccc;width:100%;color:#333;}
.data tr.odd{background:#fcfcfc;}
.data tr:hover{background:#fff6eb;}
.data td{padding:8px 10px;line-height:21px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.data th{padding:15px 5px;background:#eee;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#555;}
.data td a{text-decoration: underline;}
.data td a:hover{text-decoration: none;}
.data .edit,.data .delete{width:60px;}
.data .edit a{display:block;color:#cf7f00;}
.data .edit a:hover{background: url(../img/ico_edit.png) no-repeat right center;}
.data .delete a{display:block;color:#c80000;}
.data .delete a:hover{background: url(../img/ico_delete.png) no-repeat right center;}
.data .last-edit{text-align:center;width:120px;}
/* WRAPPER */
#wrapper{background:#fafafa;height:100%}
nav, #wrapper,header{min-width: 929px;} 

.cumulative{padding:15px;background:#FFFAF2;margin-top:15px;border:3px solid #FFE8BF;}
.cumulative .checkbox{padding-right:15px;}

/* VERTICAL SUB NAV */
#left{width:250px;position:absolute;}
#left ul{font-size:11px;text-transform:uppercase;letter-spacing:0.5px;font-weight:bold;}
#left ul li a{display:block;padding:15px 0 15px 30px;border-bottom:1px solid #ddd;background:url(../img/left-nav-ico1.png) no-repeat 10px center;}
#left ul li a:hover{background:#eee url(../img/left-nav-ico.png) no-repeat 10px center;}
#left ul li .active{background:#fff url(../img/left-nav-ico.png) no-repeat 10px center;margin-right:-1px;color:#111;}
#right{min-height:500px;margin-left:250px;border-left:1px solid #ddd;background:#fff;}
#right .nav-head{display:none;}
.nav-head{display:block;padding:30px;background:#fff url(../img/nav-head.png) no-repeat right  center;border-bottom:5px solid #ddd;text-transform:uppercase;font-weight:normal;color:#ff8400}

#content{padding:25px;}

form, .pj-form{border:1px solid #ddd;}
form p, 
.pj-form p,
.input-wrapp{display:block; border-top: 1px solid #DDDDDD;background:#fafafa;position:relative;}

form p label,
.pj-form p label,
.input-wrapp label{display: inline-block;font-weight: bold;padding:20px;text-align: left;vertical-align: top;width:180px;font-size:12px;color:#555;position:absolute;}

.field{padding:15px 20px;display: block; background:#fff;margin-left:220px;border-left:1px solid #ddd;}
.field span{font-size:12px;color:#555;margin:0 5px 0 20px;}
.field em{color:#555;font-size:11px;}
.field .variable{width:600px;min-height:150px;}
form small{color:#555; display:block;padding-top:2px;font-size:11px;font-weight:normal;line-height:11px;position:absolute;}
input, textarea,select{background: none repeat scroll 0 0 #FCFCFC;border: 1px solid #CCCCCC; border-radius: 2px 2px 2px 2px;box-shadow: 0 1px 3px #DDDDDD inset;color: #666666;padding: 6px 5px;}
select{min-width:300px;}
select option{padding:2px 0px 1px 5px;}
select.smaller{font-size:12px;}
select.smaller option{padding:5px 10px;}
.button-box{padding:10px 20px 10px 240px}
.button{background: #FB9337;border: 1px solid #F0882C;color: #FFFFFF;cursor: pointer;font-weight: bold; padding: 7px 20px;font-size:12px;}
.button:hover,.button-box .button:hover{background:#1e1f46;box-shadow:none;border:1px solid #fff;}

.norminfo{font-size:12px;margin-left:20px;color:#555}
textarea#header, .dscrbox{width:600px;height:100px;}
#title{width:600px;}
#ui-datepicker-div{font-size:14px;}
.date-month{width:70px;background:#FCFCFC url(../img/ico_calendar_input.png) no-repeat 85px center;} 	 	
.date,
.qs-date{width:120px;background:#FCFCFC url(../img/ico_calendar_input.png) no-repeat 108px center;} 	 	
.date, 	 	
.date-month{text-align:right;font-size:14px;padding:8px 40px 8px 0;} 	 	


.pagination{padding:5px;margin:10px;font-size:13px;}
.pagination a, .pagination span{border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333;padding:5px 10px;}
.pagination span{background:#3f4c6b;color:#fff;}
.pagination a:hover{background:#fff;}
.pagination a{background:#ccc;background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ border:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#333}

/* ROLES */
.role{padding:0 20px 20px 20px;background:#fafafa;border:5px solid #eee;font-size:14px;margin-bottom:20px;;}
.role ul{padding:20px;}
.role ul li{margin:5px;}

.content span.msg{display:block;margin:10px 0;}
.field.content{background:#FFFDDE;}
/* counter */
.chars{position:absolute;left:780px;padding:2px 5px;background:#f5f5f5;border:1px solid #ddd;font-size:12px;top:3px;color:#555}
.detailinfo{background:#FFFBED;border:2px solid#FAF3DE;line-height:16px;padding:10px;display:inline-block;margin:0 0 15px 0!important;}
.detailinfo .red{color:red;font-style:normal;}
.detailinfo a{color:#000;text-decoration:underline;}
.analytics{height:150px;}


.exception{padding:10px;border:2px solid #eee;background:$fff;}
.exception{font-size:13px;font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;}

/* ERROR PAGES */
.error-box{width:400px;margin:100px auto;padding:40px;background:#FFFAFA;border:5px solid #FFF5F5;text-align:center;}
.error-box p{padding:10px;}
.error-box a{text-decoration:underline;}


/* TERMINOLOGY */
#terminology{border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
#terminology .search-box{margin:0}
#terminology .search-box input{width:300px;padding:10px 5px;}
a.csn-back{background:#ABFFC4 !important;font-weight:bold;}
.button-box.modern{padding:15px;}
.button-box .button{padding:10px;width:120px;font-size:15px;}
.csnFileUpload{margin-bottom:20px;}


.lang,.disabled,.csn-edit-nav .add{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    display:inline-block;padding:10px 15px;margin-right:10px;
     -moz-border-radius:6px;
        -webkit-border-radius:6px;    text-decoration:none;
        border-radius:6px;font-weight:bold;
}

.lang {
        font-size:12px;padding:8px;
        -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
        -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
        background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
        background-color:#3d94f6;
        border:1px solid #337fed;
        color:#fff !important;
        text-shadow:0px 1px 0px #1570cd;
}
.lang:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
        background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
        background-color:#1e62d0;
}
.myButton:active {
        position:relative;
        top:1px;
}
.disabled, .disabled:hover{padding:8px;font-size:12px;color:#999;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        background-color:#ffffff;
        border:1px solid #dcdcdc;
        text-shadow:0px 1px 0px #ffffff; 
        cursor: default;
        color:#aaa !important;
        box-shadow:inset 0px 0px 0px 0px;
}

.csn-edit-nav{background:#fff9f0;padding:5px;font-size:14px;}


.csn-edit-nav .delete{
        
        -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
        box-shadow:inset 0px 1px 0px 0px #f5978e;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
        background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
        
        background-color:#f24537;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #d02718;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:14px;
        font-weight:bold;
        padding:9px 14px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #810e05;
        
    }

.csn-edit-nav .delete:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
        background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
        
        background-color:#c62d1f;
    }


.parentNode a{
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

padding:15px 10px;display:block;color:#fff;letter-spacing:1px;font-size:16px;border-top:3px solid #ccc;
}

.parentNode a span{margin:10px;}
.parentNode a:hover{background:#333656;}


#overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:99;
    color:white;
-moz-opacity: 0.30;
opacity: 0.30;
display:none;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);

}

#loader{
	z-index:999;
	background:#fff url(../img/ajax-loader.gif) 10px center no-repeat;
	padding:30px 30px 30px 60px;
	border:3px solid #555;
	display: none;
}
#loader.webpage{
	background:#fff url(../img/ajax-loader.gif) 13px center no-repeat;
	padding: 30px !important;
	border: 10px solid #ddd;
}
.logResult{padding:10px 10px 10px 50px;margin-bottom:20px;font-size:12px;}
.logResult p{font-size:14px;font-weight:bold;}
.logResult table{margin:10px 0;border-collapse:collapse;}
.logResult table tr td{padding:2px 10px;}
.logResult table tr:hover{background:#fff;border-top:4px solid #fff;border-bottom:4px solid #fff;font-size:13px;}
.logResult .br{border-right:1px solid #ccc;padding-right:10px;margin-right:5px;}
tr.log-SUCCESS{background-color:#E6FFCF !important;}
tr.log-INCOMPLETE{background-color:#FFEDCF !important;}
tr.log-FAILED{background-color:#FFCFCF !important;}

table.import{padding:15px 15px 15px 60px;border-collapse:collapse;margin:10px 0;width:100%;}
.import .msg td{font-size:16px;padding-top:15px;}
.import .more td{padding-bottom:15px;}
.import a{text-decoration:underline;}
.import a:hover{text-decoration:none;}
.import td{padding: 5px 10px 5px 60px;}

table.log{font-size:12px;}
table.log td,.log-descr{padding:2px;}
.log-descr{font-size:13px;border:1px solid #ccc;}
.tlog{padding:7px 10px;border-bottom:1px solid #ccc;}
.tlog.info{background:#fafafa;}
.tlog.alert{background:#FFE9BA;}
.tlog:hover{background:#fff;}


.inline-form{background:#F2F8FF;padding:5px;}
.inline-field{display:inline-block;padding:10px 30px;}
.inline-form input[type=submit]{float:right;margin:8px;cursor:pointer;}
.data .delete.big{width:100px;text-align:center;}
.is-not-complement{color:#1C2266;font-weight:bold;}
.is-complement em{font-style:normal;}
.tab-wrapp{border:1px solid #ddd;}
.cancel{background:#eee;color:#999;border:1px solid #ddd;}
.cancel:hover{background:#ddd;color:#555;border:1px solid #ccc;}

.picker-item{padding:5px;text-decoration:underline;}
.standard-link{margin-left:10px;}
.standard-link-cancel{color:red !important;cursor:pointer;}
.standard-link-cancel:hover{text-decoration:none;}
.resetmargin{margin: 0 0 0 5px !important;}


.status-canceled,
.status-canceled-harmonized{background-color:#FFE8E8;}
.status-canceled.odd,
.status-canceled-harmonized.odd{background-color:#FFF0F0 !important;}
.status-non-harmonized{background-color:#FFFCE8;}
.status-non-harmonized.odd{background-color:#FFF9D4 !important;}

.status-canceled .standarardId,
.assigned-standards .status-canceled a,
.status-canceled .standarardId a{color:#CC0000;}
.standard-csn-change .standardId{background:red;}


.standard-csn-change td{padding:4px;;}
.standard-csn-change .standarardId{font-size:12px;color:#555;background:url(../img/tree.png) no-repeat 10px center;padding-left:30px;}
.standard-csn-change .edit,
.standard-csn-change .delete{padding-left:10px;}

.pj-wrapp{padding:8px 5px !important;display:inline-block;}
.pj-wrapp .pj-picker-item{font-weight:bold;font-size:14px;color:blue}
.pj-wrapp .pj-cancel{color:red;font-weight:normal;margin-left:20px;text-decoration:underline;cursor:pointer;}
.pj-wrapp .pj-cancel:hover{text-decoration:none;}

.button.default{width:auto;font-size:12px;}
.assigned-standards{border-left:1px solid #eee;border-right:1px solid #eee;padding:15px;list-style-position:inside;}
.assigned-standards a{display:inline-block;padding:10px 0;text-decoration:underline;}
.inline-form .assigned{margin:10px;}
.transparent{background:transparent;}

.ui-month-only{width:250px !important;}
.ui-month-only .ui-datepicker-calendar { display: none; }
.ui-month-only select{width:auto !important;min-width:80px;margin:0 2px !important;}

.rel.wrapp{position:relative;}
.rel.wrapp label{position:absolute;top:-26px;font-size:12px;left:30%;color:#555;}
.nb-form #notifiedBody,
.nb-form input{margin:25px 8px 8px 8px !important;}
.report-wrapp{margin-top:15px;}
.report-wrapp table{font-size:12px}
.report-wrapp .key{width:250px;}
.report-wrapp .csn-change td{padding:5px;}
.report-wrapp .csn tr{background:#fff;border-top:2px solid #aaa;}
.report-wrapp .csn .csn-change{background:#fafafa;}
.report-wrapp .a-link,
.report-wrapp .block{display:block !important;}
.report-wrapp .standards .a-link,
.report-wrapp .standards .block{padding:2px 0;}

.standard-preview{background: url(../img/ico_preview.png) no-repeat 5px center !important;padding-left: 35px !important;}
.button.preview{color:#fff; background: #254694 url(../img/ico_preview.png) no-repeat 5px center; padding:10px 15px 10px 35px !important;border:2px solid #ddd;margin-left:10px}
.button.preview:hover{background: #153173 url(../img/ico_preview.png) no-repeat 5px center;border:2px solid #fff;}


/* ---------------------------------------
	WEBPAGES
*/
.blue-bg{
	background: #3f4c6b; /* Old browsers */
	background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); 
	background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

h1.pj-smaller{font-size:18px;padding:10px 35px;}

.pj-webpages{background:#fff;}
.sub-nav.webpages{margin:-20px -20px 0 -25px;padding:5px 20px 0 45px;height:60px;background-position:0 40px}
.sub-nav.webpages li a{padding:8px 13px;font-size:13px;font-weight:bold;}
.sub-nav.webpages a.active{font-weight:normal;}

.status-1 .oid{background:#ebffb0;}
.status-3 .oid{background:#ffc9bf;}

.total-price{text-align:right;padding:5px 15px;color:#333;margin-top:15px;border-top:3px solid #aaa;border-bottom:1px solid #aaa;}
.total-price div{margin:5px;}
.total-price div span{display:inline-block;min-width:100px;}
.total-price .bigger{margin:10px 5px;font-size:20px;font-weight:bold;}

/* UI TABS */
.ui-tabs{border:0 !important; }
.ui-tabs-nav{border:0 !important;border-bottom:1px solid #ccc !important;font-size:14px !important;padding :0 30px !important;background:none !important;}
.ui-tabs-nav li{border-top:1px solid #ccc;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;border-top-right-radius: 6px;}
.ui-tabs-nav li a{color:#555 !important;font-weight:normal;padding:8px 15px !important;}
.ui-tabs-nav li.ui-tabs-active  a{color:#e34c02 !important;font-weight:bold;}
.ui-tabs-panel{padding:30px 10px!important;font-size:14px;}                
.ui-tabs li.ui-state-hover{background:#eee;border-color:#999}

/* PortalUser - activated services */

.pj-online-pub{background:red;list-style:none;background:#f5f5f5;border:3px solid #ddd;}
.pj-online-pub li{padding:10px 15px;border-top:1px solid #fff;border-bottom:1px solid #ddd;display:block;overflow:hidden;clear:both;}
.pj-online-pub li:first-child{border-top:0;}
.pj-online-pub li.odd{background:#f9f9f9;}
.pj-online-pub li:hover{background:#fff;}


.pj-online-pub span{display:inline-block;display:inline-block; vertical-align:middle;}
.pj-pub-name{width:500px;display:block;padding:0 10px;margin:0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.pj-pub-code{width:80px;font-weight:bold;text-align:center; }

.pj-unsynced{background:#FFEBCC;}
.pj-unsync-alert{background:url(../img/ico_alert.png) no-repeat 0px center;display:block;width:40px;height:25px;float:left;}

#pj-email-vars{padding:20px;color:#333;line-height:20px;font-size:13px;}
#pj-email-vars ul{padding: 0 30px;}
#pj-email-vars table{border-collapse:collapse;border:3px solid #aaa}
#pj-email-vars table td{padding:4px 10px;border-left:1px solid #ddd;}
#pj-email-vars table tr{border-bottom:1px solid #ddd;}

.action-nav{border:3px solid #eee;width:575px;margin:10px 0;padding:8px 10px;font-size:14px;background:#fbfbfb}
.action-nav *{display:inline-block;}
.action-nav span{width:80px;color:#555}
.action-nav a{margin:0 10px;line-height:19px;}
.action-nav a:hover{color: #222;}