#notifiedBodies.ms-container{
  background: transparent url('../img/switch.png') no-repeat 425px 190px;
}

#ms-mandates.ms-container, #ms-assessmentSystems.ms-container{
  background: transparent url('../img/switch.png') no-repeat 425px 110px;
}

.ms-container:after{
  content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{

  background: #fff;
  color: #555555;
  float: left;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-bottom: 8px solid #3f4c6b;
  border-right: 8px solid #3f4c6b; 
  border-left: 8px solid #3f4c6b;
}

#search{
  font-size:12px;
  width:390px;
  background:#F2F6FF;
  color:#8A99BD;
  border-radius:0 !important;
  border-top: 1px solid #3f4c6b;
  border-bottom: 1px solid #3f4c6b;
  border-right: 8px solid #3f4c6b; 
  border-left: 8px solid #3f4c6b;
}

.ms-selected{
  display:none;
}
.ms-container .ms-selectable{
  margin-right: 40px;
}

.ms-container .ms-list.ms-focus{

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container ul.ms-list{
  width: 400px;
  height: 350px;
  padding: 0;
  overflow-y: auto;
  font-size:12px;
}

#ms-mandates.ms-container ul.ms-list, #ms-assessmentSystems.ms-container ul.ms-list{height: 200px;}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 8px;
  cursor: pointer;
  color: #333;
 border-top:1px solid #ddd;
  font-size:13px;font-weight:bold;
  background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );

}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 8px 10px 8px 15px;
  color: #555;
  font-size: 13px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}
.form-multiple{padding:20px;}
.custom-header{
background: #606c88;
background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b));
background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
padding:15px;color:#fff;font-size:13px;text-align:center;font-weight:bold;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.margin-top-30{margin-top: 30px;}