aside{display:none;}
section{max-width:100%;margin-left:0 !important;}
.l{text-align: left !important;}
.profile-nav{width:270px;float:left;}
.profile-content{width:665px;float:left;padding:0 20px}
.pj-profile-nav{margin:-12px 15px 0 0;width:250px;}

tr:hover,
tr:hover td{background: #FFE9C4 !important;}
td a{color: #C26700;}
td a:hover{color: #222;}