/* style */
.pj-above-header{background-color: #2B4702;}
.pj-header{ background-color: #365902 }

.pj-radius,
.pj-mainnav a{-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}

.pj-bg-light-gray{
	background: #eaeaea;
	background: -moz-linear-gradient(top, #eaeaea 0%, #d9d9d9 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d9d9d9)); 
	background: -webkit-linear-gradient(top, #eaeaea 0%,#d9d9d9 100%); 
	background: -o-linear-gradient(top, #eaeaea 0%,#d9d9d9 100%); 
	background: -ms-linear-gradient(top, #eaeaea 0%,#d9d9d9 100%); 
	background: linear-gradient(to bottom, #eaeaea 0%,#d9d9d9 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d9d9d9',GradientType=0 ); 
}

.pj-border{
	height: 5px;
	background: #c1c1c1;
	background: -moz-linear-gradient(top, #c1c1c1 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #c1c1c1 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #c1c1c1 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #c1c1c1 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #c1c1c1 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#ffffff',GradientType=0 );
}
.pj-wrapp{height:100%}
.pj-inner{max-width: 970px;width: 100%;margin: auto;}
.placeholder{color: #999 !important;}

/* HEADER ------------*/
.pj-above-header{height: 25px;border-bottom: 1px solid #233a01;color:#d7cdcd;font-size: 11px;}
.pj-above-header a{color:#d7cdcd;}
.pj-above-header ul {display: block;padding:2px 0;}
.pj-above-header ul li{display: inline;border-right:1px solid #555;}
.pj-above-header ul li:last-child{border:none;}
.pj-above-header ul li a{padding:5px;display:inline-block;text-decoration:none;}
.pj-above-header ul li a:hover{text-decoration:underline;}
.pj-header{height: 90px;border-top:1px solid #4c6b1e;border-bottom:1px solid #2b4702;}
.pj-header .pj-inner{position:relative;}
.pj-langbox{float:left;}
.pj-login{float:right;}
.pj-login a{color:#fff;}

#logo{width:300px;height:52px;background:url(../img/logo.png); display:block;margin-top:15px;}
.pj-search{float:right;background:#49691b;width:250px;top:10px;position:absolute;right:0;padding:4px 3px;border:1px solid #}
.pj-search input{background:transparent;border: none;padding:5px;min-width:210px;color:#ddd;margin-top:2px}
.pj-search a{background:url(../img/ico_search.png) center;;width:30px;height:30px;display:block;float:right;-khtml-opacity: 0.50;opacity: 0.50;filter:alpha(opacity=50);}
.pj-search a:hover{-khtml-opacity:1;opacity:1;filter:alpha(opacity=100);}


/* NAVIGATION ------ */

.pj-mainnav a,
.pj-subnav a{font-size:14px;text-decoration:none;color:#222 }
.pj-mainnav{height: 43px;border-top:1px solid #fff;}
.pj-mainnav ul{height:43px;position:relative;}

.pj-mainnav ul li{padding:4px 0;display:block;float:left;}
.pj-mainnav .curr{background:url(../img/min_triangle.png) no-repeat bottom center}
.pj-mainnav .pj-inner>ul>li{padding:4px 0;display:block;float:left;height:35px;}
.pj-mainnav ul>li>a{display:inline-block;padding:10px 8px;margin:0 5px;}
.pj-mainnav ul>li>a:hover{background:#eee;border:1px solid #ddd;padding:7px 7px;}

.pj-mainnav ul ul{position:absolute;top:41px;left:0;height:29px;padding:7px 0 0 0;display:none;width:100%;}
.pj-mainnav ul ul li{padding:0;border-right:1px solid #aaa;display:inline-block;}
.pj-mainnav ul ul li:last-child{border:0}
.pj-mainnav ul ul a{font-size:11px;padding:5px;margin:0 5px;display:inline;}
.pj-mainnav ul ul a:hover{border:none;background:none;padding:5px;color:green;}

.pj-subnav{height: 30px;border-top:1px solid #c6c6c6;}

/* CONTENT ------ */
#content{
	
   min-height:100%;
   height:100%;
   position:relative;
        
}
#content .pj-inner{height:100%;min-height:100%;}
aside{width:250px;border:1px solid orange;height:100%;min-height:100%;float:left;}
aside ul{background:#f5f5f5;padding:10px;margin:25px 0;}
aside ul a{text-decoration:none;display:block;font-size:13px;padding:10px 5px;margin:2px 0;border-bottom:1px dotted #ddd;color:#555}
aside ul a:hover{background-color:#eee;border-bottom:1px solid #ccc;}

section{float:left;max-width:700px;margin-left:20px !important;width:100%}
.pj-head{display:block;padding:0 5px 8px 5px;text-transform:uppercase;color:#888;margin-bottom:10px;border-bottom:2px dotted #ddd;}
.pj-scopes .pj-item{background:#f2f2f2;max-width:320px;padding:10px;float:left;display:inline-block;margin:5px 5px 10px 5px;}
.pj-scopes .pj-item img{width:100%;}
.pj-scopes .pj-item .pj-img{display:block;width:150px;height:100px;float:left;padding-right:8px;}
.pj-scopes .pj-item h3{font-size:15px;margin-bottom:10px;font-weight:normal;}
.pj-scopes .pj-item h3 a{color:#0088c8;}
.pj-scopes .pj-item p{font-size:12px;color:#333;line-height:15px}

/* FOOTER ------ */
footer{
	background-color: #EBEBEB;
	border-top: 1px solid #C6C6C6;
	color: #828181;
	padding: 29px 0 12px
}

.pj-bc{font-size:11px;padding:5px;margin:10px 0 5px 0;}
.pj-bc a{color:#666}
.pj-bc span{color:#999;}
.pj-bc a,.pj-bc span{padding:5px;}