<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 	
    <appender  name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/var/www/tomcat/logs/cpr.log" />
        <param name="MaxFileSize" value="5000KB" />
        <param name="MaxBackupIndex" value="100" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} %C{1}:%M(line %L) - %m%n"/>
        </layout>
    </appender> 
   

	<logger name="cz.nlfnorm">
		<level value="warn" />
		<appender-ref ref="fileAppender"></appender-ref>
	</logger>
		
	 <root>
        <priority value="warn"></priority>   
        <appender-ref ref="fileAppender"></appender-ref>
    </root>
			
  
</log4j:configuration>